#!/bin/bash
# Mise packages hash: {{ include "private_dot_config/mise/config.toml.tmpl" | sha256sum }}
$HOME/.local/bin/mise trust $HOME/.config/mise/config.toml
$HOME/.local/bin/mise install

# if command -v zsh >/dev/null 2>&1; then
#   echo "✓ Mise tools installed. Reloading shell..."
#   exec zsh -l
# else
#   echo "✓ Mise tools installed."
# fi
