{{- if .enableOhMyZsh }}

[".oh-my-zsh"]
type = "archive"
url = "https://github.com/ohmyzsh/ohmyzsh/archive/master.tar.gz"
exact = true
stripComponents = 1
refreshPeriod = "168h"

[".oh-my-zsh/custom/plugins/zsh-autosuggestions"]
type = "archive"
url = "https://github.com/zsh-users/zsh-autosuggestions/archive/master.tar.gz"
exact = true
stripComponents = 1
refreshPeriod = "168h"

[".oh-my-zsh/custom/plugins/zsh-syntax-highlighting"]
type = "archive"
url = "https://github.com/zsh-users/zsh-syntax-highlighting/archive/master.tar.gz"
exact = true
stripComponents = 1
refreshPeriod = "168h"

[".oh-my-zsh/custom/plugins/fzf-tab"]
type = "archive"
url = "https://github.com/Aloxaf/fzf-tab/archive/refs/tags/v1.2.0.tar.gz"
exact = true
stripComponents = 1

{{- end }}

{{- if .downloadLazygit }}

[".local/bin/lazygit"]
type = "archive-file"
url = "https://github.com/jesseduffield/lazygit/releases/download/v0.58.1/lazygit_0.58.1_{{ .chezmoi.os }}_{{ .chezmoi.arch }}.tar.gz"
executable = true
path = "lazygit"

{{- end }}

{{- if .downloadFzf }}

[".local/bin/fzf"]
type = "archive-file"
url = "https://github.com/junegunn/fzf/releases/download/v0.67.0/fzf-0.67.0-{{ .chezmoi.os }}_{{ .chezmoi.arch }}.tar.gz"
executable = true
path = "fzf"

{{- end }}

{{- if .downloadZoxide }}

{{- $arch := .chezmoi.arch }}
  {{- if eq $arch "amd64" }}
    {{- $arch = "x86_64" }}
  {{- else if eq $arch "arm64" }}
    {{- $arch = "aarch64" }}
{{- end }}

[".local/bin/zoxide"]
type = "archive-file"
{{- if eq .chezmoi.os "darwin" }}
url = "https://github.com/ajeetdsouza/zoxide/releases/download/v0.9.8/zoxide-0.9.8-{{ $arch }}-apple-darwin.tar.gz"
{{- else if eq .chezmoi.os "linux" }}
url = "https://github.com/ajeetdsouza/zoxide/releases/download/v0.9.8/zoxide-0.9.8-{{ $arch }}-unknown-linux-musl.tar.gz"
{{- end }}
executable = true
path = "zoxide"

{{- end }}

{{- if .downloadNeovim }}

{{- $os := .chezmoi.os }}
  {{- if eq $os "darwin" }}
    {{- $os = "macos" }}
{{- end }}

{{- $arch := .chezmoi.arch }}
  {{- if eq $arch "amd64" }}
    {{- $arch = "x86_64" }}
{{- end }}

[".local/opt/nvim"]
type = "archive"
url = "https://github.com/neovim/neovim/releases/download/v0.11.6/nvim-{{ $os }}-{{ $arch }}.tar.gz"
stripComponents = 1
exact = true

{{- end }}
