{{ $choices := list "Oh My Zsh" "Lazygit" "fzf" "Zoxide" "Neovim" -}}
{{ $tools := promptMultichoiceOnce . "tools" "What tools do you want to download" $choices (list) -}}
{{ $name := promptStringOnce . "name" "What is your name" -}}
{{ $email := promptStringOnce . "email" "What is your email address" -}}
{{ $signingkey := promptStringOnce . "git.signingkey" "Enter your public signing key for Git" -}}
{{ $hyprland := false -}}
{{ if eq .chezmoi.os "linux" -}}
{{ $hyprland := promptBoolOnce . "includeHyprlandFiles" "Include Hyprland related dotfiles? Y/N" -}}
{{ end }}
[git]
autoCommit = false

[diff]
pager = "delta"

[data]
name = {{ $name | quote }}
email = {{ $email | quote }}
git.signingkey = {{ $signingkey | quote }}
includeHyprlandFiles = {{ $hyprland }}
ohmyzsh = {{ has "Oh My Zsh" $tools }}
lazygit = {{ has "Lazygit" $tools }}
fzf = {{ has "fzf" $tools }}
zoxide = {{ has "Zoxide" $tools }}
neovim = {{ has "Neovim" $tools }}
tools = {{ $tools | toToml }}
