{{ $choices := list "Oh My Zsh" "bat" "delta" "dust" "fd" "fzf" "lazygit" "lsd" "neovim" "node" "ripgrep" "starship" "zoxide" -}}
{{ $defaultTools := list -}}
{{ if and (hasKey . "tools") .tools -}}
  {{ range .tools -}}
    {{ if has . $choices -}}
      {{ $defaultTools = append $defaultTools . -}}
    {{ end -}}
  {{ end -}}
{{ end -}}
{{ $tools := promptMultichoice "What tools do you want to download" $choices $defaultTools -}}
{{ $name := promptStringOnce . "name" "What is your name" -}}
{{ $email := promptStringOnce . "email" "What is your email address" -}}
{{ $signingkey := promptStringOnce . "git.signingkey" "Enter your public signing key for Git" -}}
{{ $hyprland := false -}}
{{ if eq .chezmoi.os "linux" -}}
  {{ $hyprland = promptBoolOnce . "includeHyprlandFiles" "Include Hyprland related dotfiles? Y/N" -}}
{{ end -}}
{{ $setZshDefault := promptBoolOnce . "setZshDefault" "Do you want to set Zsh as your default shell? Y/N" -}}
[git]
autoCommit = false

[diff]
pager = "delta"
exclude = ["externals"]

[data]
name = {{ $name | quote }}
email = {{ $email | quote }}
git.signingkey = {{ $signingkey | quote }}
includeHyprlandFiles = {{ $hyprland }}
setZshDefault = {{ $setZshDefault }}
tools = {{ $tools | toToml }}
{{ range $choices -}}
  {{ . | lower | replace " " "" }} = {{ has . $tools }}
{{ end -}}
