private_dot_config/hyprwall/wallpaper.jpg
private_dot_config/hyprwall/config.ini
private_dot_config/nvim/lazyvim.json
private_dot_config/ghostty/themes/Matugen
private_dot_config/waybar/colors.css
private_dot_config/hypr/colors.conf
