[core]
  excludesfile = ~/.gitignore
  pager = delta
[interactive]
  diffFilter = delta --color-only
[delta]
  navigate = true  # use n and N to move between diff sections
  dark = true      # or light = true, or omit for auto-detection
  side-by-side = true
  line-numbers = true
[merge]
  conflictStyle = zdiff3
[gpg]
  format = ssh
[user]
  name = {{ .git.name | quote }}
  email = {{ .git.email | quote }}
  signingkey =  {{ .git.signingkey | quote }}
[commit]
  gpgsign = true
[gpg "ssh"]
  allowedSignersFile = ~/.config/git/allowed_signers
[alias]
  lg = log --oneline --decorate --graph --all
[filter "lfs"]
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
  clean = git-lfs clean -- %f
