@import "./matugen-colors.css";

window {
  /* font-family: GeistMono Nerd Font Propo; */
  font-size: 16pt;
  color: @foreground;
  background-color: @surface-alpha;
}

button {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20%;
  /* background-color: @surface_container; */
  background-color: alpha(@surface_container, 0.7);
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.3s ease-in;
  border-radius: 36px;
  border-color: transparent;
  margin: 10px;
  /* box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.2); */
}

button:focus {
  background-size: 30%;
  outline-style: none;
  background-color: alpha(@primary_fixed, 0.3);
  color: @primary;
  transition: all 0.1s cubic-bezier(0.15, 0, 1, 1);
}

#shutdown {
  background-image: image(url("./icons/power.png"));
}
#shutdown:focus {
  background-image: image(url("./icons-hover/power_hover.png"));
}

#logout {
  background-image: image(url("./icons/logout.png"));
}
#logout:focus {
  background-image: image(url("./icons-hover/logout_hover.png"));
}

#reboot {
  background-image: image(url("./icons/restart.png"));
}
#reboot:focus {
  background-image: image(url("./icons-hover/restart_hover.png"));
}

#lock {
  background-image: image(url("./icons/lock.png"));
}
#lock:focus {
  background-image: image(url("./icons-hover/lock_hover.png"));
}

#suspend {
  background-image: image(url("./icons/lock.png"));
}
#suspend:focus {
  background-image: image(url("./icons-hover/lock_hover.png"));
}

#sleep {
  background-image: image(url("./icons/hibernate.png"));
}
#sleep:focus {
  background-image: image(url("./icons-hover/hibernate_hover.png"));
}
