@import "colors.css";

:root {
  --notification-widget-spacing: 4px;
}

* {
  /* font-family: FiracodeNerdFont; */
  color: @primary_fixed;
  font-size: 16px;
  font-family: CodeNewRoman Nerd Font Propo;
}

.control-center {
  /* padding-bottom: calc(var(--notification-widget-spacing) * 2); */
  background: none;
}

.vertical {
  /* background: alpha(@surface_variant, 0.5); */
  padding: 0px;
}

.widget *,
.widgets *
{
  margin: 0px;
}

.widget {
  --spacing: 8px;
  margin: var(--spacing) var(--spacing) 0px var(--spacing);
  color: @primary_fixed;
  background: alpha(@background, 0.6);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 1);
  border: 1px solid alpha(@primary, 0.1);
}

.widget-volume {
  padding: var(--notification-widget-spacing) calc(var(--notification-widget-spacing) * 2);
  scrollbar-highlight-color: burlywood;
}

.widget-volume highlight{ 
background-color: @primary;
}

.widget-volume slider {
  height: 4px;
}

.mpris-overlay {
  padding: 10px;
  text-shadow: 0px 0px 10px alpha(@background, 1);
  background: alpha(@background, 0.3);
}

.widget-mpris-album-art {
  /* opacity: 0; */
  box-shadow: 0px 0px 8px alpha(@background, 1);
}

.mpris-background {
  opacity: 0;
}

.widget-notifications * {
  box-shadow: unset;
  background: unset;
  background-color: unset;
}

.notification {
  margin-top: calc(var(--notification-widget-spacing) / 2);
  padding: 15px;
}

.notification-background {
  padding: var(--notification-widget-spacing);
}

.notification-row {
  background: none;
}

.notification-group {
  background: none;
  margin: var(--notification-widget-spacing) var(--notification-widget-spacing) 0px var(--notification-widget-spacing);
}
