@import "colors.css";

* {
  border: none;
  border-radius: 10;
  font-family: FiracodeNerdFont;
  font-family: CodeNewRoman Nerd Font Propo;
  min-height: 0;
}

tooltip {
  background: rgba(43, 48, 59, 0.5);
  border: 1px solid rgba(100, 114, 125, 0.5);
}

tooltip label {
  color: white;
}

window#waybar {
  /* background: transparent; */
  /* background: alpha(@on_secondary, 0.5); */
  background: alpha(@surface_variant, 0.5);
  /* background: alpha(@on_secondary_fixed, 0.4); */
  color: white;
}

window#waybar.empty #window {
  opacity: 0;
}

#pulseaudio,
#mode,
#clock,
#custom-disk_root,
#custom-cava,
#custom-expand,
#custom-lyrics,
#custom-notification,
#custom-pacman,
#custom-wallpaper,
#custom-wlogout,
#custom-hyprsunset,
#cava,
#tray,
#memory,
#privacy,
#window,
#network,
#bluetooth,
#mpris,
#workspaces button,
#cpu {
  color: @primary_fixed;
  background: alpha(@background, 0.6);
  margin: 3px;
  padding: 5px 10px;
  /* padding: 4px 10px 2px 10px; */
  box-shadow: 0px 0px 2px rgba(0, 0, 0, .6);
}

/* #workspaces button {
  transition: all 0s ease;
  color: alpha(@color7, 0.5);
}
#workspaces button.active {
  color: @color7;
}
#workspaces button.empty {
  padding-right: 2;
  padding-left: 10;
} */

#workspaces {
  padding: 0px 5px;
  margin: 2px;
  background: alpha(@background, 0.6);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, .6);
}

#workspaces button {
  all: unset;
  padding: 0px 5px;
  color: alpha(@primary_fixed, 0.5);
  transition: all .2s ease;
}

#workspaces button:hover {
  color: @primary_fixed;
  border: none;
  text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .5);
  transition: all 1s ease;
}

#workspaces button.active {
  color: @primary_fixed;
  border: none;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
}

#workspaces button.empty {
  color: alpha(@background, 0.4);
  border: none;
  text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .2);
}

#workspaces button.empty:hover {
  color: alpha(@primary_fixed, 0.75);
  border: none;
  text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .5);
  transition: all 1s ease;
}

#workspaces button.empty.active {
  color: @primary_fixed;
  border: none;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
}

#workspaces button.special {
  color: alpha(@primary, 0.5);
}

#workspaces button.special:hover {
  color: @primary;
}

#workspaces button.special.active {
  color: @primary;
}

#workspaces button.special.empty {
  color: alpha(@primary, 0.5);
  text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .2);
}

#workspaces button.visible {
  color: @primary_fixed;
  border: none;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
}

/* #custom-notification {
  padding-right: 13px;
} */

#pulseaudio-slider slider {
  min-height: 0px;
  min-width: 0px;
  opacity: 0;
  background-image: none;
  border: none;
  border-radius: 100%;
  box-shadow: none;
}

#pulseaudio-slider trough {
  min-height: 10px;
  min-width: 80px;
  border-radius: 5px;
  background-color: black;
}

#pulseaudio-slider highlight {
  min-width: 10px;
  border-radius: 5px;
  background-color: black;
}
