@import "colors.css";

* {
  border: none;
  border-radius: 10;
  font-family: FiracodeNerdFont;
  min-height: 0;
}

tooltip {
  background: rgba(43, 48, 59, 0.5);
  border: 1px solid rgba(100, 114, 125, 0.5);
}

tooltip label {
  color: white;
}

window#waybar {
  background: transparent;
  color: white;
}

window#waybar.empty #window {
  opacity: 0;
}

#pulseaudio,
#mode,
#clock,
#custom-disk_root,
#custom-cava-internal,
#cava,
#memory,
#privacy,
#window,
#mpris,
#workspaces button,
#cpu {
  background-color: @base;
  margin: 3px 3px 3px 3px;
  padding: 4px 10px 0px 10px;
  border-bottom: 2px solid rgba(100, 114, 125, 0.5);
  color: white;
}

#workspaces button.visible {
  /*background: #64727D;*/
  color: orange;
}

#workspaces button.empty {
  /*background: black;*/
  color: rgba(150, 20, 90, 1);
}

/*#workspaces button {*/
/*align-items: center;*/
/*padding-right: 10px;*/
/*padding-left: 10px;*/
/*}*/

/*#workspaces {*/
/*  background-color: @base;*/
/*}*/

/*#mode {*/
/*  background: #64727D;*/
/*  border-bottom: 3px solid white;*/
/*}*/

/*#clock {*/
/*background-color: #64727D;*/
/*}*/

/*Clock Module*/

/*#battery {*/
/*  background-color: #ffffff;*/
/*  color: black;*/
/*}*/

/*#battery.charging {*/
/*  color: white;*/
/*  background-color: #26A65B;*/
/*}*/

/*@keyframes blink {*/
/*  to {*/
/*    background-color: #ffffff;*/
/*    color: black;*/
/*  }*/
/*}*/

/*#battery.warning:not(.charging) {*/
/*  background: #f53c3c;*/
/*  color: white;*/
/*  animation-name: blink;*/
/*  animation-duration: 0.5s;*/
/*  animation-timing-function: steps(12);*/
/*  animation-iteration-count: infinite;*/
/*  animation-direction: alternate;*/
/*}*/

#pulseaudio-slider slider {
  min-height: 0px;
  min-width: 0px;
  opacity: 0;
  background-image: none;
  border: none;
  border-radius: 100%;
  box-shadow: none;
}

#pulseaudio-slider trough {
  min-height: 10px;
  min-width: 80px;
  border-radius: 5px;
  background-color: black;
}

#pulseaudio-slider highlight {
  min-width: 10px;
  border-radius: 5px;
  background-color: black;
}
