[tools]
{{- if .bat }}
bat = 'latest'
{{- end }}
{{- if .delta }}
delta = "latest"
{{- end }}
{{- if .fzf }}
fzf = "latest"
{{- end }}
{{- if .lazygit }}
lazygit = "latest"
{{- end }}
{{- if .neovim }}
neovim = "latest"
{{- end }}
{{- if .zoxide }}
zoxide = 'latest'
{{- end }}
