[tools]
{{- if .bat }}
bat = "0.26.1"
{{- end }}
{{- if .delta }}
delta = "0.18.2"
{{- end }}
{{- if .dust }}
dust = "1.2.4"
{{- end }}
{{- if .fd }}
fd = "10.3.0"
{{- end }}
{{- if .fzf }}
fzf = "0.67.0"
{{- end }}
{{- if .lazygit }}
lazygit = "0.58.1"
{{- end }}
{{- if .lsd }}
lsd = "1.2.0"
{{- end }}
{{- if .neovim }}
neovim = "0.11.6"
{{- end }}
{{- if .node }}
node = "25.6.1"
{{- end }}
{{- if .ripgrep }}
rg = "15.1.0"
{{- end }}
{{- if .starship }}
starship = "1.24.2"
{{- end }}
{{- if .zoxide }}
zoxide = "0.9.9"
{{- end }}
{{- if .npm }}
npm = "11.10.0"
{{- end }}
